$elsasser-Body-Paragraph-Text: #45494F;
$colo-C53: #464C53;
$elsasser-Link-Blue: #2E75FF;
$elsasser-Megaheader: #1652AC;
$elsasser-Header-Paragraph-Text: #020303;
$elsässer-Darker-Display-Grey: #FBFDFF;
$btn-Under-Slider: #FAFBFE;
$white: #FFFFFF;
$kontakt: #A3ADBA;
$footer-text: #9EABBB;

$bg-section: #E5E5E5;
$mega-buttons:linear-gradient(180deg, #163DA2 0%, #003584 100%);
$bg-BFC: #FBFBFC;

$green: green;




