@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;500;600&display=swap');
//font-family: 'Noto Sans Display', sans-serif;




//===font-size===
$fz-48: 48px;
$fz-34: 34px;
$fz-28: 28px;
$fz-20: 20px;
$fz-19: 19px;
$fz-18: 18px;
$fz-17: 17px;
